#app-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#briefcase {
  display: flex;
  height: 50px;
}

#briefcase:hover {
  box-shadow: 2px 4px 4px grey;
  border-radius: 50%;
  cursor: pointer;
}

#filter-container {
  display: flex;
  justify-content: center;
}

form#filter-switches {
  display: flex;
  flex-direction: row;
  gap: 5vw;
}

#header {
  display: flex;
  box-shadow: 2px 4px 8px grey;
  width: 100%;
  justify-content: space-between;
}

#logo {
  padding: 4px 4px 12px;
  height: 70px;
}

#search-bar {
  display: flex;
  width: 50vw;
  margin: 1.25vw 1.25vw 0.5vw;
}

#user-widget {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  margin: 0 8px;
  padding: 0 8px;
  gap: 1vw;
}

.form-check.form-switch {
  display: flex;
  gap: 0.5vw;
}

.message-name {
  font-size: large;
}

.message-name-new {
  font-size: large;
  font-weight: bold;
}

.new-message {
  font-weight: bold;
}

.profile-thumbnail {
  width: 50px;
  height: 50px;
  margin: 8px 8px;
  border-radius: 50%;
}

.profile-thumbnail:hover {
  border-radius: 50%;
  box-shadow: 2px 4px 4px grey;
  cursor: pointer;
}